<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h2><%= @movie["title"] %></h2>

      <%= image_tag("#{@configuration.base_url}w154#{@movie["poster_path"]}")%>
      <h3>Facts</h3>
      Runtime: <%= @movie["runtime"] %> minutes<br />
      Release Date: <br />
      <%= @movie["release_date"].to_date.strftime("%d/%m/%Y")%>
      <h2>Trailers</h2>
      <% @trailers['youtube'].each do |trailer| %>
          <%= link_to "#{trailer['name']} - #{trailer['size']}", "http://www.youtube.com/watch?v=#{trailer['source']}" %><br />
      <% end %>
    </div>
    <div class="span10">

      <h3>Overview</h3>
      <%= @movie["overview"] %>

      <tbody>
      <% @reviews.each do |review| %>
          <tr>
            <td><%= review.name %></td>
            <td><%= review.score %></td>
            <td><%= review.comment %></td>
            <td><%= review.movie_id %></td>
            <td><%= link_to 'Show', review %></td>
            <td><%= link_to 'Edit', edit_review_path(review) %></td>
            <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
      </table>
    </div>
    <%= link_to 'New Review', new_review_path(:movie_id => @movie["id"]) %>

  </div>
</div>