
<% if current_user %>
    Welcome back <%= current_user.name %>!
    <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
    <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
<% end %>
<div>
  <h1>Search for a movie</h1>
  <%= form_tag("/search", :method => "get") do %>
      <%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %>
  <% end %>
</div>
<h1>Listing Reviews</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Comment</th>
    <th>Movie</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @reviews.each do |review| %>
      <tr>
        <td><%= review.name %></td>
        <td><%= review.score %></td>
        <td><%= review.comment %></td>
        <td><%= review.movie_id %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>